.errorSISU {
  color: red;
}
/* for the layout */
* {
  margin: 0;
  padding: 0;
}
.navbar-brand {
  font-family: "Sedgwick Ave Display", cursive;
  font-size: 50px;
  color: whitesmoke;
}

.navbar-dark .nav-item .nav-link:hover {
  background: black;
  color: white;
}
body {
  position: relative;
  background: url("images/black-background-bulb-close-up-716398.jpg");
  background-size: 200%;
  background-repeat: no-repeat;
}
.main {
  padding: 10% 20% 30%;
  overflow: hidden;
}
.mainHome {
  padding: 10% 10% 30%;
}
/* for the sign in */
.word {
  color: #00ffff;
}
h2 {
  color: #00ffff;
}
.close {
  cursor: pointer;
  position: absolute;
  right: 10%;
}
.close:hover {
  background: black;
  color: white;
}
/* for the tasks.html */
.customtime {
  width: 100%;
  height: 100%; /* optional change it to your height */
  padding: 15px;
  background: transparent;
  color: #fff;
  border-radius: 5px;
}
.buttonsave {
  background: transparent;
  color: #fff;
  padding: 11px 11px;
  border-radius: 30px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}
.buttonsave:hover {
  background-color: red;
}
/* for the profile.html */
.custominfo {
  background: transparent;
  background-color: transparent;
  color: white;
}
