/* for the layout */
* {
  margin: 0;
  padding: 0;
}
.navbar-brand {
  font-family: "Sedgwick Ave Display", cursive;
  font-size: 50px;
  color: whitesmoke;
}

.navbar-dark .nav-item .nav-link:hover {
  background: black;
  color: white;
}
body{
  position: relative;
  background: url("images/black-background-bulb-close-up-716398.jpg");
  background-size: 100% 200%;
  background-repeat: no-repeat;
}
.main {
  padding: 10% 20% 30%;
  overflow: hidden;
}
.mainHome {
  padding: 10% 10% 30%;
}
/* for the sign in */
.word {
  color: #00ffff;
}
h2 {
  color: #00ffff;
}
.close {
  cursor: pointer;
  position: absolute;
  right: 10%;
}
.close:hover {
  background: black;
  color: white;
}
