<!-- this will be the main html for inherit -->
<!DOCTYPE html>
<html lang="en">

    <head>
        {% if title %}
        <title>2DO - {{title}} </title>
        {% else %}
        <title>2DO</title>
        {% endif  %}
    </head>

	<body>
			<div>
				<a href="{{url_for("home")}}">
				Home</a></p>
				
				<a href="{{url_for("signUp")}}">
				Register</a></p>
				
				<a href="{{url_for("signIn")}}">
				Sign in</a></p>
				
				<a href="{{url_for("tasks")}}">
				Create Task</a></p>
			</div>
	</body>
		
    <body>
        {% block content %}{% endblock content %}
    </body>
