{% extends "layout.html" %}
{% block content %}
<body  class="mainHome">
    <br>
    <div class="row ">
        <!-- Bootstrap grid is 12 units in total, here i'm splitting one row into 2 columns of 6 units each -->
        <!-- Imagine it like this: |  6 units |  6 units | -->
        <div class="col">
            <h2 class="text-light text-center">Unfinished tasks</h2>
            <br>
            <ul>
                {% for todo in todo %}
                    {% if todo.status == False  and todo.user_id == current_user.id %}
                    <li class="p-3 mb-2 bg-dark text-white" style="list-style-type:none">

                        <div class="panel-group">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h4 class="panel-title">
                                        <a data-toggle="collapse" href="#collapse{{todo.id}}">
                                            <h3 class="text-light text-center">{{ todo.description }}</h3></a>
                                    </h4>
                                    {{todo.content}}
                                    <br>
                                    {{ todo.deadline.strftime("Date: %b-%d-%Y") }}
                                    <br>
                                    {{ todo.deadline.strftime( "Time: %H:%M")}}
                                    <br>

                                <div id="collapse{{todo.id}}" class="panel-collapse collapse">
                                    <ul class="list-group text-center">
                                        <li class="list-group-item "><a href="{{ url_for('complete', id = todo.id )}}"><i class="material-icons">
                                            check
                                        </i></a></li>
                                        <li class="list-group-item"><a href="{{ url_for('delete', id = todo.id )}}"><i class="material-icons">
                                            delete
                                        </i></a></li>
                                        <li class="list-group-item"><a href="{{ url_for('edit', id = todo.id )}}"><i class="material-icons">
                                            edit
                                        </i></a></li>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    {% endif %}

                {% endfor %}


            </ul> 
        </div>


        <div class="col text-center">

            <h2 class="text-light">Finished Tasks</h2>
<br>
            <ul>
                {% for todo in todo %}
                {% if todo.user_id == current_user.id  and todo.status == True %}

                <li class="p-3 mb-2 bg-dark text-white" style="list-style-type:none">{{ todo.description }}
                    <a class="close" href="/delete/{{ todo.id }}"> <i class="material-icons">
                            delete
                        </i> </a>
                </li>
                {% endif %}

                {% endfor %}
            </ul>
    </div>
</div>

</body>

{% endblock %}
