<!-- this will be the main html for inherit -->
<!DOCTYPE html>
<html lang="en">
	<head>
		<!-- Required meta tags -->
	 <meta charset="utf-8">
	 <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	 <!-- Bootstrap CSS -->
	 <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

		<link rel="stylesheet" href="{{ url_for("static", filename="style.css")}}">

		{% if title %}
		<title>2DO - {{title}} </title>
		{% else %}
		<title>2DO</title>
		{% endif  %}
	</head>
	<body class ="container">
		<header>
			<nav>
				<ul class="nav justify-content-end">
						  <li class="nav-item">
						    <a class="nav-link active" href="{{url_for("home")}}">Home</a>
						  </li>
						  <li class="nav-item">
						    <a class="nav-link" href="{{url_for("signUp")}}">Sign Up</a>
						  </li>
						  <li class="nav-item">
						    <a class="nav-link" href="{{url_for("signIn")}}">Sign In</a>
						  </li>
							<li class="nav-item">
						    <a class="nav-link" href="{{url_for("tasks")}}">Tasks</a>
						  </li>
						</ul>
			</nav>
			<header>

		<section>
			<div>
				    {% with messages = get_flashed_messages() %}
				    {% if messages %}
				    <ul>
				    {% for message in messages %}
				        <li>{{ message }} </li>
				    {% endfor %}
				    </ul>
				    {% endif %}
				    {% endwith %}
			</div>
			{% block content %}{% endblock content %}
		</section>
	</body>
