{% extends 'layout.html' %}
{% block content %}
<body class="main">
	<h1 class='text-white'>Schedule your task here!</h1>
	<br><br>
		<form action="" method="post" name="add" >
			{{ form.hidden_tag() }}
			<legend class='text-white'>{{ legend }} </legend>
			<br><br>
			{% if legend ==  'Edit Tasks' %}
			<!-- this is for edit function -->
				<div class="form-group">
						<input type="text" class ="form-control customtime" name="description" placeholder="Description" value ={{todo.description}} required >
						<br><br>
						<textarea class='customtime' name="content" placeholder="Content" contenteditable="true"> {{ todo.content }}</textarea>
						<br><br>
						<input type="datetime-local" class="form-control customtime"  name="deadline" placeholder="Date" value={{u}} required >


                </div>
			{% else %}
			<!-- this is for create task function -->
            <div class="form-group">
					<input type="text" class ="form-control customtime btn-outline" name="description" placeholder="Description"  required >
					<br><br><br>
					<textarea class="customtime btn-outline" name="content" placeholder="Content" ></textarea>
					<br><br><br>
                    <input type="datetime-local" class="form-control customtime "  name="deadline" placeholder="Date"  required >
                   
            </div>
            {% endif %}

			
				</div>
					  <br><br> 
				<div>
					<button class="btn btn-outline-dark buttonsave"> Save</button>
					
					<br><br><br>
				</div>
		</form>
</body>
{% endblock content %}

